:root {
    --text: #000000;
    --background: #7fffd4;
    --background-contrast-dark: #5cdab0;
    --background-contrast-light: #aeffe4;
    --white: #fff;
    --white-contrast: #ccc;
}

body {
    background-color: var(--background);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

#toppMeny {
    position: sticky;
    top: 0%;
}

#toppMeny ul {
    width: auto;
    height: 60px;
    top: 0%;
    margin: 0%;
    padding-left: 0%;
    background-color: var(--background-contrast);
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    list-style-type: none;
}

#toppMeny li a {
    text-decoration: none;
    color: var(--text);
    width: 100%;
    height: 100%;
}

#toppMeny li {
    flex: 1;
    height: 100%;
    text-align: center;
}

#toppMeny li:hover {
    background-color: var(--background);
}